{% extends 'layout.html' %}


{% block content %}

<h3>Thematic Categories</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url 'thematic_category_new' country=country %}"
       class="btn btn-primary">Add thematic category</a>
  </div>
</div>

{% if not object_list %}
  <p><br />No thematic category defined yet.<br /></p>
{% endif %}

{% if object_list %}
<table class="table table-bordered sources" style="width: 400px;">
  <thead>
    <tr>
      <th>Thematic category name</th>
    </tr>
  </thead>

  <tbody>
    {% for thematic_category in object_list %}
    <tr>
      <td>
        <a href="{% url 'thematic_category_view' pk=thematic_category.id country=country %}">{{ thematic_category.code }} ({{ thematic_category.description }})</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}