
<div class="form-group form-footer" style="margin-bottom: 0">

  <button type="submit" name="draft" value="false"
          class="btn btn-primary">Publish</button>

  {% if object %}
    {% if object.draft %}
      <button type="submit" name="draft" value="true"
              class="btn btn-default">Save as draft</button>
    {% endif %}
  {% else %}
    <button type="submit" name="draft" value="true"
            class="btn btn-default">Save as draft</button>
  {% endif %}

  {% if cancel_url %}
    <a href="{{ cancel_url }}" class="btn btn-link" role="button">Cancel</a>
  {% endif %}

</div>
