{% load widget_tweaks %}

{% block scripts %}

  <script>
    $(function () {
      $('#id_geographical_scope').on('change', function () {
        $('[data-show-if=geographical_scope]')
            .toggleClass('hide', $(this).val() != '4' && $(this).val() != '5');
        if ($(this).val() != '4' && $(this).val() != '5'){
          $('#id_countries option').removeAttr('selected');
        };
      }).change();
    });
  </script>

{% endblock %}

  <form id="study-modal-form" role="form" method="POST"
        data-edit-form="true">
    {% csrf_token %}

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group">
          <div class="row">
            <div class="col-md-5">
              {{ form.purpose_and_target.label_tag }}
              {% if form.purpose_and_target.field.required %}
                <span class="required">*</span>
              {% endif %}
              {% if form.purpose_and_target.errors %}
                <p class="text-danger">
                  <small>{{ form.purpose_and_target.errors.0 }}</small></p>
              {% endif %}
              {% render_field form.purpose_and_target class='form-control' %}
            </div> {# col-md-5 #}
          </div> {# row #}
        </div>

        <div class="form-group">
          {{ form.additional_information.label_tag }}
          {% if form.additional_information.field.required %}
            <span class="required">*</span>
          {% endif %}
          {% if form.additional_information.errors %}
            <p class="text-danger">
              <small>{{ form.additional_information.errors.0 }}</small></p>
          {% endif %}
          {% render_field form.additional_information class='form-control' %}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-heading">
          <b>Support to policy-making cycle and domain of application</b>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              {{ form.phase_of_policy.label_tag }}
              {% if form.phase_of_policy.field.required %}
                <span class="required">*</span>
              {% endif %}
              {% if form.phase_of_policy.errors %}
                <p class="text-danger">
                  <small>{{ form.phase_of_policy.errors.0 }}</small></p>
              {% endif %}
              {% render_field form.phase_of_policy class='form-control' rows=3 %}
            </div> {# col-md-4 #}
          </div> {# row #}
        </div>

        <div class="form-group">
          <span data-container="#additional-information-phase-label"
                data-toggle="popover"
                data-placement="top"
                data-content='Indicate application areas of the forward-looking information in the study (e.g. "strategies, working programmes, etc."), possible use of the forward-looking information, what is added value and impact.'
                data-trigger="hover"
                id="additional-information-phase-label">
            {{ form.additional_information_phase.label_tag }}
            {% if form.additional_information_phase.field.required %}
              <span class="required">*</span>
            {% endif %}
          </span>
          {% if form.additional_information_phase.errors %}
            <p class="text-danger">
              <small>{{ form.additional_information_phase.errors.0 }}</small></p>
          {% endif %}
          {% render_field form.additional_information_phase class='form-control' rows=3 %}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              {{ form.foresight_approaches.label_tag }}
              {% if form.foresight_approaches.field.required %}
                <span class="required">*</span>
              {% endif %}
              {% if form.foresight_approaches.errors %}
                <p class="text-danger">
                  <small>{{ form.foresight_approaches.errors.0 }}</small></p>
              {% endif %}
              {% render_field form.foresight_approaches class='form-control' %}
              <i><small>{{ form.foresight_approaches.help_text }}</small></i>
            </div> {# col-md-4 #}
          </div> {# row #}
        </div>

        <div class="form-group">

          {{ form.additional_information_foresight.label_tag }}
          {% if form.additional_information_foresight.field.required %}
            <span class="required">*</span>
          {% endif %}
          {% if form.additional_information_foresight.errors %}
            <p class="text-danger">
              <small>{{ form.additional_information_foresight.errors.0 }}</small></p>
          {% endif %}
          {% render_field form.additional_information_foresight class='form-control' %}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group">
            <div class="checkbox">
              {% if form.stakeholder_participation.errors %}
                <p class="text-danger">
                  <small>{{ form.stakeholder_participation.errors.0 }}</small></p>
              {% endif %}
              <label>
                {% render_field form.stakeholder_participation %}
                {{ form.stakeholder_participation.label }}
                {% if form.stakeholder_participation.field.required %}
                  <span class="required">*</span>
                {% endif %}
              </label>
            </div>
        </div>

        <div class="form-group">
          <span data-container="#additional-information-stakeholder-label"
                data-toggle="popover"
                data-placement="top"
                data-content="Explain type of stakeholders involved (research, policy, sectors, NGOs) and their role, or any other information about the participatory aspect of the study process."
                data-trigger="hover"
                id="additional-information-stakeholder-label">
              {{ form.additional_information_stakeholder.label_tag }}
              {% if form.additional_information_stakeholder.field.required %}
                <span class="required">*</span>
              {% endif %}
          </span>
          {% if form.additional_information_stakeholder.errors %}
            <p class="text-danger">
              <small>{{ form.additional_information_stakeholder.errors.0 }}</small></p>
          {% endif %}
          {% render_field form.additional_information_stakeholder class='form-control' %}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-heading">
          <b>Scope of the study</b>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                {{ form.environmental_themes.label_tag }}
                {% if form.environmental_themes.field.required %}
                  <span class="required">*</span>
                {% endif %}
                {% if form.environmental_themes.errors %}
                  <p class="text-danger">
                    <small>{{ form.environmental_themes.errors.0 }}</small></p>
                {% endif %}
                {% render_field form.environmental_themes class='form-control' %}
                <i><small>{{ form.environmental_themes.help_text }}</small></i>
            </div> {# form-group #}
          </div> {# col-md-4 #}
        </div> {# row #}

        <div class="col-md-5">
          <div class="row">
            <div class="form-group">
              {{ form.geographical_scope.label_tag }}
              {% if form.geographical_scope.field.required %}
                <span class="required">*</span>
              {% endif %}
              <div class="row">
                <div class="col-md-10">
                  {% if form.geographical_scope.errors %}
                    <p class="text-danger">
                      <small>{{ form.geographical_scope.errors.0 }}</small></p>
                  {% endif %}
                  {% render_field form.geographical_scope class='form-control' %}
                </div> {# col-md-10 #}
              </div> {# row #}
            </div> {# form-group #}
          </div> {# row #}
        </div> {# col-md-4 #}

        <div class="col-md-7" data-show-if="geographical_scope">
          <div class="row">
            <div class="form-group">
              {{ form.countries.label_tag }} <span class="required">*</span>
              {% if form.countries.errors %}
                <p class="text-danger">
                  <small>{{ form.countries.errors.0 }}</small></p>
              {% endif %}
              {% render_field form.countries class='form-control' %}
              <i><small>{{ form.countries.help_text }}</small></i>
            </div> {# form-group #}
          </div> {# row #}
        </div> {# col-md-4 #}

      </div> {# panel-body #}
    </div> {# panel #}

  </form>
