{% extends '_layout.html' %}
{% load widget_tweaks %}


{% block scripts %}

  <script>
    $(function () {
      $('#id_geographical_scope').on('change', function () {
        $('[data-show-if=geographical_scope]')
            .toggleClass('hide', $(this).val() != '4' && $(this).val() != '5');
        if ($(this).val() != '4' && $(this).val() != '5'){
          $('#id_countries option').removeAttr('selected');
        };
      }).change();
    });
  </script>

{% endblock %}


{% block title %}

  {{ block.super }} - Study context

{% endblock %}


{% block content %}

  {% include '_studies_nav.html' %}

  <h2 class="page-title">{{ study }}</h2>

  {% include 'study/_nav.html' %}

  {% include '_messages.html' %}

  {% if form.errors %}
    <p class="text-danger">There were errors while saving this study. Please see the error messages below.</p>
  {% endif %}

  {% include 'study/context_edit_form.html' %}

{% endblock %}
