
{% extends '_layout.html' %}
{% load utils %}


{% block title %}

  {{ block.super }} -  Study Metadata

{% endblock %}


{% block content %}

  {% include 'study/_nav.html' %}
  <h2 class="page-title">Study metadata</h2>

  {% can_edit_study study as can_edit_study %}

  {% if can_edit_study %}
    <div class="actions">
      <a href="{% url 'study_metadata_edit' pk=study.pk %}"
         class="btn btn-primary">
        Edit study</a>
    </div> {# /.actions #}
  {% endif %}

  <table class="table table-detail">

    <tr>
      <th>{{ form.title.label }}</th>
      <td>{{ study.title }}</td>
    </tr>

    {% if study.studylanguage_set.exists %}
    <tr>
      <th>Languages</th>
      <td>
        <ul class="list-unstyled">
          {% for study_lang in study.studylanguage_set.all %}
            <li>
              <div><b>{{ study_lang.language }}</b></div>
              <div>- {{ study_lang.title }}</div>
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}

    <tr>
      <th>{{ form.url.label }}</th>
      <td>{{ study.url }}</td>
    </tr>

    <tr class="hd">
      <th colspan="2">Approach used</th>
    </tr>

    <tr>
      <th>{{ form.blossom.label }}</th>
      <td>
        {% if study.blossom %}
          <i class="glyphicon glyphicon-ok"></i>
        {% else %}
          -
        {% endif %}
      </td>
    </tr>

    {% if study.blossom %}
      <tr>
        <th>{{ form.requested_by.label }}</th>
        <td>{{ study.requested_by }}</td>
      </tr>
    {% endif %}

    <tr class="hd">
      <th colspan="2">Timing of study production</th>
    </tr>

    <tr>
      <th>{{ form.start_date.label }}</th>
      <td>{{ study.start_date|date:"d/m/Y" }}</td>
    </tr>

    <tr>
      <th>{{ form.end_date.label }}</th>
      <td>{{ study.end_date|date:"d/m/Y" }}</td>
    </tr>

    <tr>
      <th>{{ form.lead_author.label }}</th>
      <td>{{ study.lead_author }}</td>
    </tr>

    <tr>
      <th>{{ form.other.label }}</th>
      <td>{{ study.other }}</td>
    </tr>

  </table>

{% endblock %}
