{% extends '_layout.html' %}
{% load utils %}


{% block title %}

  {{ block.super }} - Outcomes and activities

{% endblock %}


{% block content %}

  {% include '_studies_nav.html' %}

  {% include 'study/_nav.html' %}

  <h2 class="page-title">
    Outcomes and activities <br>
    <small>Outcomes related to the study/activities performed, by categories</small>
  </h2>

  {% include '_messages.html' %}

  {% if form.errors %}
    <p class="text-danger">There were errors while saving this outcome. Please see the error messages below.</p>
  {% endif %}

  {% can_edit_study study as can_edit_study %}

  <div class="panel panel-default">

    <div class="panel-heading"><b>List of current documents</b></div>

    <div class="panel-body">
      <ul class="list-unstyled outcome-list">
        {% for outcome in object.outcomes.all %}
          {% url 'study_outcome_detail' pk=object.pk outcome_pk=outcome.pk as view_url %}
          {% url 'study_outcome_delete' pk=object.pk outcome_pk=outcome.pk as delete_url %}
          <li>
            <div class="row">
              <div class="col-md-9">
                <p><b>{{ outcome.document_title }}</b></p>
                <p>
                  {% if outcome.text %}
                    {{ outcome.text|truncatewords:'30'|linebreaks }}
                  {% else %}
                  <p><i>No description</i></p>
                  {% endif %}
                </p>
              </div> {# col-md-8 #}
              <div class="col-md-3 text-right">
                <a href="{{ view_url }}" class="btn btn-sm btn-primary">
                  View</a>
                {% if can_edit_study and study.blossom %}
                  <a href="{{ delete_url }}"
                     class="btn btn-sm btn-danger delete">
                    Delete</a>
                {% endif %}
              </div> {# col-md-4 #}
            </div> {# row #}
          </li>
        {% empty %}
          <li><p>No outcomes for this study.</p></li>
        {% endfor %}
      </ul>
    </div> {# panel-body #}

  </div> {# panel #}


  {% if study.blossom %}
    <div id="outcome-add" class="panel panel-default">

      <div class="panel-heading">
        <b>Add information on outcome/activity</b> <br>
        <small>You can enter your text directly and/or attach relevant files</small>
      </div>

      <div class="panel-body">

        {% if can_edit_study %}
          {% url 'study_outcomes_edit' pk=object.pk as url %}
          <form action="{{ url }}" role="form" method="POST"
                id="study-outcomes-edit-form"
                enctype="multipart/form-data"
                data-edit-form="true">
            {% include "study/_outcome_form.html" %}
          </form>
        {% endif %}

      </div> {# panel-body #}

    </div> {# panel #}
  {% endif%}

{% endblock %}
