<div id="confirmation-msg" class="alert alert-success hidden">
</div>

<div id="outcome-add" class="panel panel-default">
  <div class="panel-heading">
    <b>Add information on output/activity</b> <br>
    <small>You can enter your text directly and/or attach relevant files</small>
  </div>
  <div class="panel-body">
      {% url 'study_outcomes_add' pk=object.pk as url %}
      <form action="{{ url }}" role="form" method="POST"
            id="study-modal-form"
            enctype="multipart/form-data"
            data-edit-form="true">
        {% include "study/_outcome_form.html" %}
      </form>
  </div> {# panel-body #}
</div> {# panel #}
