{% load utils %}

{% block content %}

{#  <h2 class="page-title">#}
{#    Outputs and activities <br>#}
{#    <small>Outputs related to the study/activities performed, by categories</small>#}
{#  </h2>#}

  {% include '_messages.html' %}

  {% if form.errors %}
    <p class="text-danger">There were errors while saving this output. Please see the error messages below.</p>
  {% endif %}

  {% can_edit_study study as can_edit_study %}

  <div class="panel panel-default">

    <div class="panel-body">
      <ul class="list-unstyled outcome-list">
        {% for outcome in object.outcomes.all %}
          {% url 'study_outcome_detail' pk=object.pk outcome_pk=outcome.pk as view_url %}
          <li>
            <div class="row">
              <div class="col-md-9">
                <p><a href="{{ view_url }}">{{ outcome.document_title }}</a></p>
                <p>
                  {% if outcome.text %}
                    {{ outcome.text|truncatewords:'30'|linebreaks }}
                  {% else %}
                  <p><i>No description</i></p>
                  {% endif %}
                </p>
              </div> {# col-md-8 #}
            </div> {# row #}
          </li>
        {% empty %}
          <li><p>No outputs for this study.</p></li>
        {% endfor %}
      </ul>
    </div> {# panel-body #}

  </div> {# panel #}

{% endblock %}
