{% extends '_layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load utils %}


{% block scripts %}

<script src="{% static "js/_bits/_form_edit.js" %}"></script>

<script>
  $(window).load(function() {
    decorate_form("{{ study.study_type }}");
  });
</script>

{% endblock %}


{% block title %}

  {{ block.super }} -
  {% if study %}
    Study Metadata
  {% endif %}

{% endblock %}


{% block content %}

  {% include '_studies_nav.html' %}

  <h2 class="page-title">{{ study }}</h2>

  {% include '_messages.html' %}

  <div class="row">
    <div class="col-md-10">

    {% if form.errors %}
      <div class="alert alert-danger">There were errors while saving this
        study.Please see the error messages below.
      </div>
    {% endif %}

    {% include 'study/_study_form.html' %}
    </div> {# col #}

    </div>

  {% include 'study/_modal.html' %}

{% endblock %}
