{% extends '_layout.html' %}
{% load widget_tweaks %}
{% load utils %}


{% block scripts %}

<script src="/static/js/_bits/_form_edit.js"></script>

<script>
  {% if study.study_type == 'activity'  %}
    $(window).load(function() {
        $('[data-show-if=activity]').removeClass('hide');
        $('[data-show-if=evaluation]').addClass('hide');
    });
  {% endif %}

  {% if study.study_type == 'evaluation'  %}
    $(window).load(function() {
        $('[data-show-if=activity]').addClass('hide');
        $('[data-show-if=evaluation]').removeClass('hide');
    });
  {% endif %}
</script>

{% endblock %}


{% block title %}

  {{ block.super }} - {% if study %}
  Study Metadata
{% else %}
  New study
{% endif %}

{% endblock %}


{% block content %}

  {% include '_studies_nav.html' %}

  <h2 class="page-title">{{ study }}</h2>

  {% include '_messages.html' %}

  <div class="row">
    <div class="col-md-10">

    {% if form.errors %}
      <div class="alert alert-danger">There were errors while saving this
        study.Please see the error messages below.
      </div>
    {% endif %}

    {% include 'study/_study_form.html' %}
    </div> {# col #}

    {% can_edit_study study as can_edit_study %}
    {% if can_edit_study %}
        <div class="col-md-2">
          <a class="btn btn-primary launch-modal" data-toggle="modal"
             data-target="#myModal"
             data-action="{% url 'study_context_edit' study.id %}"
             data-backdrop="static"
             data-title="Edit context">Edit context
          </a>
          <br/>
          <br/>
          <a class="btn btn-primary launch-modal" data-toggle="modal"
             data-target="#myModal"
             data-backdrop="static"
             data-action="{% url 'study_outcomes_add' study.id %}"
             data-title="Add outcome">Add outcome
          </a>
        </div>
    {% endif %}

    </div>

  {% include 'study/_modal.html' %}

{% endblock %}
