{% load utils %}

<ul class="nav nav-tabs">

  <li class="{% active request '^%s/$' %}">
    <a href="{% url interlinks %}">Interlinks</a>
  </li>

  <li class="{% active request '^%s/indicators' %}">
    <a href="{% url indicators %}">Indicators</a>
  </li>

  <li class="{% active request '^%s/trends' %}">
    <a href="{% url trends %}">Trends</a>
  </li>

  <li class="{% active request '^%s/gmts' %}">
    <a href="{% url gmts %}">GMTs</a>
  </li>

  <li class="{% active request '^%s/sources' %}">
    <a href="{% url sources %}">Sources</a>
  </li>


  <li class="dropdown {% active request '^%s/settings' %}">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Settings <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">

      <li>
        <a href="{% url thematic_categories %}">Thematic categories</a>
      </li>


      <li>
        <a href="{% url geographical_scales %}">Geographical scale</a>
      </li>

      <li>
        <a href="{% url geographical_coverages %}">Geographical coverages</a>
      </li>

      <li>
        <a href="{% url steep_categories %}">Steep categories</a>
      </li>

      <li>
        <a href="{% url timelines %}">Timelines</a>
      </li>

    </ul>
  </li>

</ul>