{% load utils %}

<div class="modal-body">
  <p>This object cannot be deleted because is referenced in other objects:</p>

  {% for category, items in object|get_referenced_items %}
    <h5>{{ category|remove_underscore|title }}</h5>
    <ul style="margin-left: 14px;">
    {% for item in items %}
      <li>
        <a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
  <p>References must be removed before deletion</p>
</div>

<div class="modal-footer">
  <a class="btn btn-cancel" data-dismiss="modal">OK</a>
</div>