{% extends 'layout.html' %}


{% block content %}

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn" href="{% url geographical_coverage_edit object.id %}">
      Edit {{ object.code }}</a>
  </div>

  <div class="btn-group">
    <a class="btn" href="{% url geographical_coverages %}">Back to geographical coverages</a>
  </div>
</div>


<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <th class="span2">Code</th>
      <td>{{ object.code }}</td>
    </tr>

    <tr>
      <th class="span2">Description</th>
      <td>{{ object.description }}</td>
    </tr>
  </tbody>
</table>

{% endblock %}