{% extends 'layout.html' %}


{% block content %}

<h3>Sources</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url source_new %}"
       class="btn btn-primary">Add source</a>
  </div>
</div>

{% if not object_list %}
  <p><br />No source defined yet.<br /></p>
{% endif %}

{% if object_list %}
<table class="table table-bordered sources" style="width: 400px;">
  <thead>
    <tr>
      <th>Source name</th>
    </tr>
  </thead>

  <tbody>
    {% for source in object_list %}
    <tr>
      <td>
        <a href="{% url source_view source.id %}">
          {{ source.short_name }} ({{ source.long_name }})</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if is_paginated %}
  {% include "paginator.html" %}
{% endif %}

{% endblock %}