{% extends 'layout.html' %}
{% load utils %}


{% block content %}

<h3>Edit source</h3>

<form class="form-horizontal" method="post">

  <fieldset>

    <div class="control-group {% if form.short_name.errors %}error{% endif %}">
      <label class="control-label" for="id_short_name">
        {{ form.short_name.label }}</label>
      <div class="controls">
        {{ form.short_name }}
        <span class="help-inline">{{ form.short_name.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.long_name.errors %}error{% endif %}">
      <label class="control-label" for="id_long_name">
        {{ form.long_name.label }}</label>
      <div class="controls">
        {{ form.long_name }}
        <span class="help-inline">{{ form.long_name.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.year_of_publication.errors %}error{% endif %}">
      <label class="control-label" for="id_year_of_publication">
        {{ form.year_of_publication.label }}</label>
      <div class="controls">
        {{ form.year_of_publication }}
        <span class="help-inline">{{ form.year_of_publication.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.author.errors %}error{% endif %}">
      <label class="control-label" for="id_author">
        {{ form.author.label }}</label>
      <div class="controls">
        {{ form.author }}
        <span class="help-inline">{{ form.author.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.url.errors %}error{% endif %}">
      <label class="control-label" for="id_url">
        {{ form.url.label }}</label>
      <div class="controls">
        {{ form.url }}
        <span class="help-inline">{{ form.url.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.summary.errors %}error{% endif %}">
      <label class="control-label" for="id_summary">
        {{ form.summary.label }}</label>
      <div class="controls">
        {{ form.summary }}
        <span class="help-inline">{{ form.summary.errors.0 }}</span>
      </div>
    </div>

  </fieldset>

  {% include "form_actions.html" %}

</form>

{% if object %}
<div class="modal fade" id="delete-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Confirmation</h3>
  </div>


  {% if object|has_referenced_items %}

  {% include "referenced_objects.html" %}

  {% else %}

  <div class="modal-body">
    <p>Are you sure you want to delete this source?</p>
  </div>

  <div class="modal-footer">
    <form method="POST" action="{% url source_delete pk=object.pk country=country %}" style="display: inline;">
      <button type="submit" class="btn btn-primary btn-danger">
        Delete</button>
    </form>
    <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
  </div>

  {% endif %}

</div>
{% endif %}

{% endblock %}