{% extends 'layout.html' %}


{% block content %}

<h3>Interlinks</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url 'interlink_new' country=country %}"
       class="btn btn-primary">Add interlink</a>
  </div>
</div>

{% if not object_list %}
  <p><br />No interlink defined yet.<br /></p>
{% endif %}

{% if object_list %}

{% for object in object_list %}

{% endfor %}

<table class="table table-bordered interlinks">
  <thead>
    <tr>
      <th>GMT</th>
      <th>Trend</th>
      <th>Indicator 1</th>
      <th>Indicator 2</th>
      <th>Indicator 3</th>
      <th>Indicator 4</th>
    </tr>
  </thead>

  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
        <a href="{% url 'interlink_view' pk=object.id country=country %}">
          {{ object }}</a>
      </td>

      <td>{{ object.trend }}</td>

      <td>{{ object.indicator_1 }}</td>

      <td>{{ object.indicator_2 }}</td>

      <td>{{ object.indicator_3 }}</td>

      <td>{{ object.indicator_4 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if is_paginated %}
  {% include "paginator.html" %}
{% endif %}

{% endblock %}