{% extends "layout.html" %}
{% load widget_tweaks %}


{% block content %}

  <h1>New need</h1>

  <form class="form-horizontal" method="POST">

    <div class="control-group">
      <label class="control-label" for="{{ form.category.auto_id }}">
        {{ form.category.label }}*</label>
      <div class="controls">
        {{ form.category }}
        <div class="text-error">{{ form.category.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.flis_topic.auto_id }}">
        {{ form.flis_topic.label }}*</label>
      <div class="controls">
        {{ form.flis_topic }}
        <div class="text-error">{{ form.flis_topic.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.themes.auto_id }}">
        {{ form.theme.label }}*</label>
      <div class="controls">
        {{ form.theme }}
        <div class="text-error">{{ form.theme.errors }}</div>
      </div>
    </div>

    <h4>Details about the need</h4>

    <div class="control-group">
      <label class="control-label" for="{{ form.title.auto_id }}">
        {{ form.title.label }}*</label>
      <div class="controls">
        {% render_field form.title class="input-xxlarge" %}
        <div class="text-error">{{ form.title.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.description.auto_id }}">
        {{ form.description.label }}</label>
      <div class="controls">
        {% render_field form.description class="input-xxlarge" rows=5 %}
        <div class="text-error">{{ form.description.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.keywords.auto_id }}">
        {{ form.keywords.label }}*</label>
      <div class="controls">
        {% render_field form.keywords class="input-xxlarge" rows=5 %}
        <div class="text-error">{{ form.keywords.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.status.auto_id }}">
        {{ form.status.label }}</label>
      <div class="controls">
        {{ form.status }}
        <div class="text-error">{{ form.status.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.start_date.auto_id }}">
        {{ form.start_date.label }}*</label>
      <div class="controls">
        {{ form.start_date }}
        <div class="text-error">{{ form.start_date.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.end_date.auto_id }}">
        {{ form.end_date.label }}</label>
      <div class="controls">
        {{ form.end_date }}
        <div class="text-error">{{ form.end_date.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <label>{{ form.need_urgent }} {{ form.need_urgent.label }}</label>
        <div class="text-error">{{ form.need_urgent.errors }}</div>
      </div>
    </div>

    <h4>Contact information</h4>

    <div class="control-group">
      <label class="control-label" for="{{ form.contact_person.auto_id }}">
        {{ form.contact_person.label }}*</label>
      <div class="controls">
        {% render_field form.contact_person class="input-xxlarge" %}
        <div class="text-error">{{ form.contact_person.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.email.auto_id }}">
        {{ form.email.label }}*</label>
      <div class="controls">
        {% render_field form.email class="input-xxlarge" %}
        <div class="text-error">{{ form.email.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.phone_number.auto_id }}">
        {{ form.phone_number.label }}</label>
      <div class="controls">
        {% render_field form.phone_number class="input-xxlarge" %}
        <div class="text-error">{{ form.phone_number.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.institution.auto_id }}">
        {{ form.institution.label }}*</label>
      <div class="controls">
        {% render_field form.institution class="input-xxlarge" %}
        <div class="text-error">{{ form.institution.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.address.auto_id }}">
        {{ form.address.label }}</label>
      <div class="controls">
        {% render_field form.address class="input-xxlarge" rows=5 %}
        <div class="text-error">{{ form.address.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.country.auto_id }}">
        {{ form.country.label }}*</label>
      <div class="controls">
        {% render_field form.country class="input-xxlarge" rows=5 %}
        <div class="text-error">{{ form.country.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.url.auto_id }}">
        {{ form.url.label }}</label>
      <div class="controls">
        {% render_field form.url class="input-xxlarge" %}
        <div class="text-error">{{ form.url.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.url.auto_id }}">
        {{ form.info.label }}</label>
      <div class="controls">
        {% render_field form.info class="input-xxlarge" rows=5 %}
        <div class="text-error">{{ form.info.errors }}</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="{{ form.document.auto_id }}">
        {{ form.document.label }}</label>
      <div class="controls">
        {{ form.document }}
        <div class="text-error">{{ form.document.errors }}</div>
      </div>
    </div>

    <h4>Permissions <br>
      <small>Chose who can see this entry</small></h4>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        {% for perm in form.permissions %}
          {{ perm }}
        {% endfor %}
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-primary">Save draft</button>
    </div>

  </form>

{% endblock %}
