
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'flip',
        'USER': 'edw',                      # Not used with sqlite3.
        'PASSWORD': 'edw',                  # Not used with sqlite3.
    }
}

DEBUG = TEMPLATE_DEBUG = ASSETS_DEBUG = True

SECRET_KEY = 'secret'
SKIP_EDIT_AUTH = True

# Do not use FRAME_URL in development
# FRAME_URL = 'path/to/frame/url'

# not for production
USER_ID = 'eionet user'
USER_GROUPS = []
USER_ROLES = ['Administrator']

