
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'flip',
        'USER': 'edw',                      # Not used with sqlite3.
        'PASSWORD': 'edw',                  # Not used with sqlite3.
    }
}

DEBUG = TEMPLATE_DEBUG = ASSETS_DEBUG = True

SECRET_KEY = 'secret'

# FRAME_URL = 'path/to/frame/url'
