<div class="actions">
  <a href="{% url 'study_metadata_edit' pk=study.pk study_type=study.study_type%}"
     class="btn btn-primary">
    Edit</a>

  <a class="btn btn-primary launch-modal" data-toggle="modal"
     data-target="#myModal"
     data-backdrop="static"
     data-action="{% url 'study_outcomes_add' study.id %}"
     data-title="Add output"
     id="add-output">Add output
  </a>

  {% url 'study_status_edit' pk=study.pk study_type=study.study_type as status_url %}
  <form class="form-inline status " action="{{ status_url }}"
        method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-info">
      {% if study.draft %}Publish{% else %}Unpublish{% endif %}
    </button>
  </form>

  <a href="{% url 'study_delete' pk=study.pk %}"
     class="btn btn-danger pull-right">
    Delete</a>

  <span class="btn disabled pull-right">
    {% if study.draft %}
      <b>Status: Draft</b>
    {% else %}
      <b>Status: Published</b>
    {% endif %}
  </span>
</div> {# /.actions #}
