{% load widget_tweaks %}

<form class="form-inline filters" role="form">

  <div class="form-group">
    {{ filter_form.blossom.label_tag }}
    {% render_field filter_form.blossom class='form-control first-filter input-sm' %}
  </div> {# form-group #}

  <div class="form-group">
    {% render_field filter_form.phase_of_policy class='form-control input-sm' %}
  </div> {# form-group #}

  <div class="form-group">
    {% render_field filter_form.foresight_approaches class='form-control input-sm' style="width: 300px" %}
  </div> {# form-group #}

  <div class="checkbox">
    <label>
      {% render_field filter_form.my_entries %} My entries
    </label>
  </div>

  <button type="submit" class="btn btn-default btn-sm">Submit</button>

</form>
