{% extends 'frame.html' %}
{% load assets %}


{% block head %}

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  {% block extra_head %}{% endblock %}

{% endblock %}


{% block zope_content %}

  <div class="container">

    <div class="col-md-9 center-block">

      <h1>Use of Forward Looking Information in Policy</h1>

      {% block content %}{% endblock %}

    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block scripts %}{% endblock %}

{% endblock %}
