{% extends 'frame.html' %}
{% load assets %}

{% block head %}

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  {% assets "css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <title>
    {% block title %}
      Use of Forward Looking Information in Policy
    {% endblock %}
  </title>
  {% block extra_head %}{% endblock %}

{% endblock %}


{% block zope_content %}

  <script>
      //Overwrite the came_from value for a correct redirect
      $('a[href^="http://projects.eionet.europa.eu/flis-services-project/login_html?came_from"]')
          .attr('href', 'http://projects.eionet.europa.eu/flis-services-project/login/login_form?disable_cookie_login__=1&came_from='+$(location).attr('href'));
      $('.breadcrumbitemlast a').attr('href', $(location).attr('href').split('study')[0]);
  </script>

  <div class="content clearfix">
  <div class="logo text-right header">
      <img src="http://projects.eionet.europa.eu/flis-services-project/flip/static/img/logo.png" width="90" height="100" alt="Live Catalogue">
  </div>
    <h1>Use of Forward Looking Information in Policy</h1>

    {% block content %}{% endblock %}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block scripts %}{% endblock %}

{% endblock %}
