{% load utils %}

<div class="text-right right-float">
  <a class="btn btn-primary" href="{% url 'study_metadata_edit' %}">
    New study
  </a>
</div>

<ul class="nav nav-tabs nav-study">

  <li class="{% active '$' %}">
  <a href="{% url 'home_view' %}">Home</a>
  </li>

  <li class="{% active 'studies/overview/$' %}">
    <a href="{% url 'studies_overview' %}">
      Studies</a>
  </li>

  <li class="{% active 'studies/my-entries/$' %}">
    <a href="{% url 'my_entries' %}">My entries</a>
  </li>

  {% is_admin as is_admin %}
  {% if is_admin %}
  <li class="{% active 'settings/(.+)$' %}">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Settings <span class="caret"></span></a>

    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'settings:phases_of_policy' %}">
          Phases of policy
        </a>
      </li>

      <li>
        <a href="{% url 'settings:foresight_approaches' %}">
          Foresight Approaches
        </a>
      </li>

      <li>
        <a href="{% url 'settings:environmental_themes' %}">
          Environmental Themes
        </a>
      </li>

      <li>
        <a href="{% url 'settings:geographical_scopes' %}">
          Geographical Scopes
        </a>
      </li>

      <li>
        <a href="{% url 'settings:outcomes' %}">
          Type of outcomes
        </a>
      </li>

    </ul>

  </li>
  {% endif %}

</ul>

