{% load utils %}

<ul class="nav nav-tabs nav-study">

  <li class="{% active '$' %}">
    <a href="{% url 'studies_overview' %}">
      Studies overview</a>
  </li>

  <li class="{% active 'study/\d/(edit|detail)$' %}">
    <a href="{% url 'study_metadata_edit' pk=study.pk %}">
      Study metadata</a>
  </li>

  {% url 'study_context_edit' pk=study.pk as study_context_url %}
  {% url 'study_outcomes' pk=study.pk as study_outcomes_url %}

  <li class="{% active 'study/\d/context/edit$' %}
             {% active_if_blossom study %}">
    {% url_if_blossom study study_context_url 'Study context' %}
  </li>

   <li class="{% active 'study/\d/outcomes/edit$' %}
             {% active_if_blossom study %}">
    {% url_if_blossom study study_outcomes_url 'Outcomes and activities' %}
    </li>

</ul>

