{% load utils %}

<ul class="nav nav-tabs nav-study">

  <li class="{% active '$' %}">
  <a href="{% url 'home_view' %}">Home</a>
  </li>

  <li class="{% active 'activities/' %}">
    <a href="{% url 'activities_overview' %}?&type=activity">
      {% new_studies as ns %}
      Forward looking activities
      {% if ns %}
        ({{ ns }})
      {% endif %}
    </a>
  </li>

  <li class="{% active 'evaluations/' %}">
    <a href="{% url 'evaluations_overview' %}?&type=evaluation">
      Evaluations
      {% if evals %}
        {{ evals }}
      {% endif %}
    </a>
  </li>

  <li class="{% active 'new/' %}">
    <a href="{% url 'add_new' %}">
      Add new
    </a>
  </li>

  <li class="{% active 'studies' %}">
    <a href="{% url 'user_entries' %}">
      My entries
    </a>
  </li>

  {% is_admin as is_admin %}
  {% if is_admin %}
  <li class="{% active 'settings/(.+)$' %} pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Settings <span class="caret"></span></a>

    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'settings:phases_of_policy' %}">
          Phases of policy
        </a>
      </li>

      <li>
        <a href="{% url 'settings:foresight_approaches' %}">
          Foresight Approaches
        </a>
      </li>

      <li>
        <a href="{% url 'settings:outcomes' %}">
          Type of outputs
        </a>
      </li>

      <li>
        <a href="{% url 'settings:topics' %}">
          Output topics
        </a>
      </li>

    </ul>

  </li>
  {% endif %}

</ul>
