{% extends '_layout.html' %}
{% load assets %}


{% block extra_head %}
  {% assets "home_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}


{% block content %}
  {% include '_studies_nav.html' %}

  <h4><b>Policy cycle</b></h4>
  <p style="padding-left: 7px;">Clicking on either of the 5 policy cycle stages will lead to a filtered listing of the studies by that stage.</p>

  <div class="radial-layout left-float">
    <div class="radial-content">
      <div class="item-0 white">
        <ul class="no-list">
          <li>Communication of results</li>
          <li>Foresight methods used</li>
          <li>Government practice</li>
          <li>Policy recommendations forming </li>
          <li>Priorities setting </li>
          <li>Successes in use of FLI in policy</li>
          <li>Barriers in use of FLI in policy</li>
        </ul>
      </div>
      <ol id="cycle">
        <li class="item-1">
          <a href="{% url 'studies_overview' %}?&blossom=1&phases_of_policy=1" class="item-content">
            <strong class="red">1. Problem definition</strong>
            <div class="item-hover">
              <p class="red">Timely identification of issues that should alert and frame decision making, issue framing, management of uncertainty and complexity, exploratory identification of strategic information (not necessary leading to agenda setting): Connection to research and business goals and new paradigms.</p>
            </div>
          </a>
        </li>
        <li class="item-2">
          <a href="{% url 'studies_overview' %}?&blossom=1&phases_of_policy=2" class="item-content">
            <strong class="red">2. Agenda setting</strong>
            <div class="item-hover">
              <p class="red">Identifying issues for policy attention, structuring, priority setting, initiation of innovation processes, Build on issues in stage 1 and support policy discussion in a structured ways (however final policy decision are normally results of many divergent also non-professional factors). Stakeholder participation and communication of knowledge are important in this phase;</p>
            </div>
          </a>
        </li>
        <li class="item-3">
          <a href="{% url 'studies_overview' %}?&blossom=1&phases_of_policy=3" class="item-content">
            <strong class="red">3. Policy development</strong>
            <div class="item-hover">
              <p class="red">Policy issues are transformed into policy programs, strategies, measures etc. Here forward-looking information helps improving strategic competence &amp; policy coherence;</p>
            </div>
          </a>
        </li>
        <li class="item-4">
          <a href="{% url 'studies_overview' %}?&blossom=1&phases_of_policy=4" class="item-content">
            <strong class="red">4. Policy implementation</strong>
            <div class="item-hover">
              <p class="red">Good policy programme doesn’t ensure good outcome. Execution and enforcement (Specification of policies in term of means, responsibilities and financial resources) are crucial to deliver outcomes.  Institutions, processes and other mechanisms are important in this phase. Forward-looking information can help improving strategic coordination &amp; communication.</p>
            </div>
          </a>
        </li>
        <li class="item-5">
          <a href="{% url 'studies_overview' %}?&blossom=1&phases_of_policy=5" class="item-content">
            <strong class="red">5. Policy evaluation</strong>
            <div class="item-hover">
              <p class="red">checking of existing policies- lessons learned, new developments, and evaluation of all policy cycling phases. It provides  link to research needs, to public. Stakeholder involvements is again very important, as evaluation needs to reach out of politics realm. Forward-looking information can facilitate policy adaptation and learning and establishing close link to phase 1.</p>
            </div>
          </a>
        </li>
      </ol>

    </div>
  </div>
  <div class="legend grey">
    <strong>LEGEND:</strong>
    <ul class="no-list">
      <li><strong>Numbers:</strong> 5 stages of policy cycles - identified in the inner graphics</li>
      <li><strong class="red">Red text:</strong>  main aim of the stage (preferably in relation to FLI)</li>
      <li><strong class="black">Black text:</strong>  specific types of FLI relevant for the stage. Now is inserted all relevant but we have to select that one <strong class="black">(bold)</strong> which we can link with entries in the tool FLIP (use of forward-looking information for policy)</li>
      <li><strong class="blue">Centre blue:</strong>  common issues linked to information system, networking, processes, governance, and other crosscutting issues</li>
  </div>

{% endblock %}
