{% extends '_layout.html' %}

{% block scripts %}

  <script>
    $(function(){
      $('#studies_listing').dataTable();
    });
    $('#id_blossom').on('change', function(){
      var toggledSelects = $('#id_phase_of_policy, #id_foresight_approaches');
      toggledSelects.toggleClass('hide', $(this).val() == 0);
      if($(this).val() == '0'){
        toggledSelects.val('');
      }
    }).change();
  </script>

{% endblock %}

{% block content %}

  {% include '_messages.html' %}
  {% include '_studies_nav.html' %}

  {% if study_type %}
    <a class="btn btn-primary"
       href="{% url 'study_metadata_edit' study_type=study_type %}">
       New {{ study_type }}</a>
  {% endif %}

  {% include '_filters.html' %}

  <div style="margin-top: 85px; clear:both;">
    {% if not object_list %}
      {% if filtering %}
        No studies found. Please alter your filtering criteria.
      {% else %}
        No studies have been added yet.
      {% endif %}
    {% endif %}
  </div>

  {% if object_list %}
    <table id="studies_listing" width="100%"
      class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          {% if not study_type %}
            <th>Type</th>
          {% endif %}
          <th>Date</th>
          <th>Title in English</th>
          <th>Lead organisation</th>
          <th>Geographical scope</th>
          <th>Published</th>
        </tr>
      </thead>
      <tbody>
        {% for source in object_list %}
          <tr>
            {% if not study_type %}
              <td>{{ source.study_type }}</td>
            {% endif %}
            <td>{{ source.start_date }}</td>
            <td>
              <a href="{% url 'study_metadata_detail' study_type=source.study_type pk=source.pk %}">
                  {{ source.title }}
              </a>
            </td>
            <td>{{ source.lead_author }}</td>
            <td>{{ source.geographical_scope }}</td>
            <td>
              {% if source.draft %}
                <span class="glyphicon glyphicon-remove"></span>
              {% else %}
                <span class="glyphicon glyphicon-ok"></span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
