
{% extends '_layout.html' %}
{% load widget_tweaks %}


{% block scripts %}

  <script>
    $(function () {
      $('#id_blossom').on('change', function () {
        $('[data-show-if=blossom]')
            .toggleClass('hide', $(this).val() != '1');
      }).change();
      $('#id_start_date').datetimepicker({pickTime: false});
      $('#id_end_date').datetimepicker({pickTime: false});

      var title_original = $('#id_title_original');
      var title = $('#id_title');

      // $('#id_languages').on('change', function () {
      //   if($.inArray('en', $(this).val()) >= 0 &&
      //      $.trim(title_original.val()) == '') {
      //     title_original.val(title.val());
      //   }
      // });

      var study_languages = $('#study-languages');


      $('#study-languages-add').on('click', function () {
        var max_forms = $('#id_studylanguage_set-MAX_NUM_FORMS').val();
        var nr_forms = study_languages.find('.form-group').length;
        var total_forms = $('#id_studylanguage_set-TOTAL_FORMS');

        if(nr_forms < max_forms) {

          var html = $($('#study-languages-empty-form').html());

          html.find('label').each(function () {
            var attr = $(this).attr('for');
            $(this).attr('for', attr.replace('__prefix__', nr_forms));
          });

          html.find('select, input').each(function () {
            var attr_id = $(this).attr('id');
            var attr_name = $(this).attr('name');
            $(this).attr('id', attr_id.replace('__prefix__', nr_forms));
            $(this).attr('name', attr_name.replace('__prefix__', nr_forms));
          });

          $('#study-languages-add').before(html);
          total_forms.val(parseInt(total_forms.val()) + 1);
        }

        if(nr_forms == (max_forms - 1)) {
          $(this).hide();
        }

      });

      $('#study-languages')
        .on('click', '.language-remove a', function () {

        var total_forms = $('#id_studylanguage_set-TOTAL_FORMS');
        var can_delete = $(this).parents('.language-remove')
                                .find('.delete');
        $(this).parents('.form-group').fadeOut('fast', function () {
          $('#study-languages-add').show();
          if(can_delete.length == 0) {
            $(this).remove();
            total_forms.val(parseInt(total_forms.val()) - 1);
          } else {
            can_delete.prop('checked', true);
          }
        });
      });

    });
  </script>

{% endblock %}


{% block content %}

  {% include '_messages.html' %}

  {% if object %}
    {% include '_study_nav.html' %}
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-danger">There were errors while saving this study. Please observer error messages below.</div>
  {% endif %}

  <form role="form" method="POST">

    {% csrf_token %}

    <div class="form-group">
      {{ form.title.label_tag }}
      {% if form.title.field.required %}
        <span class="required">*</span>
      {% endif %}
      {% render_field form.title class='form-control' %}
      {% if form.title.errors %}
        <p class="text-danger">
          <small>{{ form.title.errors.0 }}</small></p>
      {% endif %}
    </div>

    <div id="study-languages-empty-form" class="hide">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            {{ formset.empty_form.language.label_tag }}
            {% render_field formset.empty_form.language class='form-control' %}
          </div>
          <div class="col-md-7">
            {{ formset.empty_form.title.label_tag }}
            {% render_field formset.empty_form.title class='form-control' %}
          </div>
          <div class="col-md-1 text-center language-remove">
            <a>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </a>
          </div>
        </div>
      </div> {# form-group #}
    </div> {# study-languages-empty-form #}

    <div id="study-languages" class="panel panel-default">

      <div class="panel-body">
        {{ formset.management_form }}

        {% for set in formset %}
          {{ set.id }}
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                {{ set.language.label_tag }}
                {% render_field set.language class='form-control' %}
                {% if set.language.errors %}
                  <p class="text-danger">{{ set.language.errors.0 }}</p>
                {% endif %}
              </div>
              <div class="col-md-7">
                {{ set.title.label_tag }}
                {% render_field set.title class='form-control' %}
                {% if set.title.errors %}
                  <p class="text-danger">{{ set.title.errors.0 }}</p>
                {% endif %}
              </div>

              {% if not forloop.first %}
                <div class="col-md-1 text-center language-remove">
                  <div class="hide">
                    {% if formset.can_delete and formset.instance %}
                      {{ set.DELETE|add_class:'delete' }}
                    {% endif %}
                  </div>
                  <a>
                    <span class="glyphicon glyphicon-minus-sign"></span>
                  </a>
                </div>
              {% endif %}

            </div>
          </div> {# form-group #}
        {% endfor %}

        <div id="study-languages-add">
          <a>Add a new language</a>
        </div>

        {% if form.errors.language %}
          <div class="text-danger" style="padding-top: 10px;">
            <b>{{ form.errors.language.0 }}</b></div>
        {% endif %}

      </div> {# panel-body #}

    </div> {# study-languages #}

    <div class="form-group">
      {{ form.url.label_tag }}
      {% if form.url.field.required %}
        <span class="required">*</span>
      {% endif %}
      {% render_field form.url class='form-control' %}
      {% if form.url.errors %}
        <p class="text-danger">
          <small>{{ form.url.errors.0 }}</small></p>
      {% endif %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><b>Approach used</b></div>
      <div class="panel-body">

          <div class="col-md-8">
            <div class="row">
              <div class="form-group">
                <span data-container="#blossom-label"
                      data-toggle="popover"
                      data-placement="top"
                      data-content="<a href=''>Does the study follow the methodology for BLOSSOM - Bridging long-term scenario and strategy analysis: organisation and methods?</a>"
                      data-html="true"
                      data-trigger="hover"
                      id="blossom-label"
                      class="label-container">
                  {{ form.blossom.label_tag }}
                  {% if form.blossom.field.required %}
                    <span class="required">*</span>
                  {% endif %}
                </span>
                <div class="row">
                  <div class="col-md-3">
                    {% render_field form.blossom class='form-control' %}
                    {% if form.blossom.errors %}
                      <p class="text-danger">
                        <small>{{ form.blossom.errors.0 }}</small></p>
                    {% endif %}
                  </div> {# col-md-3 #}
                </div> {# row #}
              </div> {# form-group #}
            </div> {# row #}

            <div class="row">
              <div class="form-group hide" data-show-if="blossom">
                {{ form.requested_by.label_tag }}
                <span class="required">*</span>
                <div class="row">
                  <div class="col-md-7">
                    {% render_field form.requested_by class='form-control' %}
                    {% if form.requested_by.errors %}
                      <p class="text-danger">
                        <small>{{ form.requested_by.errors.0 }}</small></p>
                    {% endif %}
                  </div> {# col-md-7 #}
                </div> {# row #}
              </div> {# form-group #}
            </div> {# row #}
          </div> {# col-md-8 #}

          <div class="col-md-4">
            <div class="well well-sm hide" data-show-if="blossom">
              <h5>BLOSSOM ressources</h5>
              <ul>
                <li><a href="">Guidelines</a></li>
                <li><a href="">Checklist for study</a></li>
              </ul>
            </div>
          </div> {# col-md-4 #}

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-heading"><b>Timing of study production</b></div>
      <div class="panel-body">

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              {{ form.start_date.label_tag }}
              <span class="required hide" data-show-if="blossom">*</span>
              <div class="input-group">
                {% render_field form.start_date class='form-control' data-date-format="DD/MM/YYYY" %}
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon glyphicon-calendar"></i>
                </span>
              </div>
              {% if form.start_date.errors %}
                <p class="text-danger">
                  <small>{{ form.start_date.errors.0 }}</small></p>
              {% endif %}
            </div> {# col-md-3 #}
          </div> {# row #}
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              {{ form.end_date.label_tag }}
              {% if form.end_date.field.required %}
                <span class="required">*</span>
              {% endif %}
              <div class="input-group">
                {% render_field form.end_date class='form-control' data-date-format="DD/MM/YYYY" %}
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon glyphicon-calendar"></i>
                </span>
              </div>
              {% if form.end_date.errors %}
                <p class="text-danger">
                  <small>{{ form.end_date.errors.0 }}</small></p>
              {% endif %}
            </div> {# col-md-3 #}
          </div> {# row #}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-heading"><b>References and contact information</b></div>
      <div class="panel-body">

        <div class="form-group">
          <span data-container="#lead-author-label"
                data-toggle="popover"
                data-placement="top"
                data-content="Enter name and contact details of lead author or organisation"
                data-trigger="hover"
                id="lead-author-label">
            {{ form.lead_author.label_tag }}
            {% if form.lead_author.field.required %}
              <span class="required">*</span>
            {% endif %}
          </span>
          {% render_field form.lead_author class='form-control' rows=3 %}
          {% if form.lead_author.errors %}
            <p class="text-danger">
              <small>{{ form.lead_author.errors.0 }}</small></p>
          {% endif %}
        </div>

        <div class="form-group">
          <span data-container="#other-label"
                data-toggle="popover"
                data-placement="top"
                data-content="Enter name and contact details of other authors or organisations involved in this study, or any other relevant contact persons"
                data-trigger="hover"
                id="other-label">
            {{ form.other.label_tag }}
          </span>
          {% render_field form.other class='form-control' rows=3 %}
          {% if form.other.errors %}
            <p class="text-danger">
              <small>{{ form.other.errors.0 }}</small></p>
          {% endif %}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    {% include '_study_footer.html' %}

  </form>

{% endblock %}
