{% extends '_layout.html' %}

{% block scripts %}

  <script>
    $(function(){
      $('#studies_listing').dataTable();
    });
    $('#id_blossom').on('change', function(){
      $('#id_phases_of_policy').toggleClass('hide', $(this).val() == 0);
      if($(this).val() == '0'){
        $('#id_phases_of_policy').val('');
      }
    }).change();
  </script>

{% endblock %}

{% block content %}

  {% include '_messages.html' %}
  {% include '_studies_nav.html' %}

  {% include '_filters.html' %}

  <div style="margin-top: 35px;">
    {% if not object_list %}
      {% if not blossom_filter and not phases_of_policy_filter %}
        No studies have been added yet.
      {% else %}
        No studies found. Please alter your filtering criteria.
      {% endif %}
    {% endif %}
  </div>

  {% if object_list %}
    <table id="studies_listing" width="100%"
      class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title in English</th>
          <th>Lead organisation</th>
          <th>Geographical scope</th>
        </tr>
      </thead>
      <tbody>
        {% for source in object_list %}
          <tr>
            <td>{{ source.start_date }}</td>
            <td><a href="{% url 'study_metadata_edit' pk=source.pk %}">{{ source.title }}</a></td>
            <td>{{ source.lead_author }}</td>
            <td>{{ source.geographical_scope }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
