
{% extends '_layout.html' %}
{% load widget_tweaks %}


{% block scripts %}

  <script>
    $(function () {
      $('#id_blossom').on('change', function () {
        $('[data-show-if=blossom]')
            .toggleClass('hide', !$(this).is(':checked'));
      }).change();
      $('#id_start_date').datetimepicker({pickTime: false});
      $('#id_end_date').datetimepicker({pickTime: false});

      var title_original = $('#id_title_original');
      var title = $('#id_title');

      $('#id_languages').on('change', function () {
        if($.inArray('en', $(this).val()) >= 0 &&
           $.trim(title_original.val()) == '') {
          title_original.val(title.val());
        }
      });

    });
  </script>

{% endblock %}


{% block content %}

  {% include '_messages.html' %}

  {% if object %}
    {% include '_study_nav.html' %}
  {% endif %}

  <form role="form" method="POST">

    {% csrf_token %}

    <div class="form-group">
      {{ form.title.label_tag }}
      {% render_field form.title class='form-control' %}
      {% if form.title.errors %}
        <p class="text-danger">
          <small>{{ form.title.errors.0 }}</small></p>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.languages.label_tag }}
      {% render_field form.languages class='form-control' %}
      {% if form.languages.errors %}
        <p class="text-danger">
          <small>{{ form.languages.errors.0 }}</small></p>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.title_original.label_tag }}
      {% render_field form.title_original class='form-control' %}
      {% if form.title_original.errors %}
        <p class="text-danger">
          <small>{{ form.title_original.errors.0 }}</small></p>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.url.label_tag }}
      {% render_field form.url class='form-control' %}
      {% if form.url.errors %}
        <p class="text-danger">
          <small>{{ form.url.errors.0 }}</small></p>
      {% endif %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><b>Approach used</b></div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-8">
            <div class="checkbox">
              <label>
                {% render_field form.blossom %}
                <span data-container="#blossom-label"
                      data-toggle="popover"
                      data-placement="top"
                      data-content="<a href=''>Does the study follow the methodology for BLOSSOM - Bridging long-term scenario and strategy analysis: organisation and methods?</a>"
                      data-html="true"
                      data-trigger="hover"
                      id="blossom-label"
                      class="label-container">
                  {{ form.blossom.label }}</span>
              </label>
            </div>

            <div class="form-group hide" data-show-if="blossom">
              {{ form.requested_by.label_tag }}
              <div class="row">
                <div class="col-md-7">
                  {% render_field form.requested_by class='form-control' %}
                </div>
              </div>
              {% if form.requested_by.errors %}
                <p class="text-danger">
                  <small>{{ form.requested_by.errors.0 }}</small></p>
              {% endif %}
            </div>

          </div> {# col-md-6 #}

          <div class="col-md-4">
            <div class="well well-sm hide" data-show-if="blossom">
              <h5>BLOSSOM ressources</h5>
              <ul>
                <li><a href="">Guidelines</a></li>
                <li><a href="">Checklist for study</a></li>
              </ul>
            </div>
          </div> {# col-md-4 #}

        </div>
      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-heading"><b>Timing of study production</b></div>
      <div class="panel-body">

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              {{ form.start_date.label_tag }}
              <div class="input-group">
                {% render_field form.start_date class='form-control' data-date-format="DD/MM/YYYY" %}
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon glyphicon-calendar"></i>
                </span>
              </div>
              {% if form.start_date.errors %}
                <p class="text-danger">
                  <small>{{ form.start_date.errors.0 }}</small></p>
              {% endif %}
            </div> {# col-md-3 #}
          </div> {# row #}
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              {{ form.end_date.label_tag }}
              <div class="input-group">
                {% render_field form.end_date class='form-control' data-date-format="DD/MM/YYYY" %}
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon glyphicon-calendar"></i>
                </span>
              </div>
              {% if form.end_date.errors %}
                <p class="text-danger">
                  <small>{{ form.end_date.errors.0 }}</small></p>
              {% endif %}
            </div> {# col-md-3 #}
          </div> {# row #}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="panel panel-default">
      <div class="panel-heading"><b>References and contact information</b></div>
      <div class="panel-body">

        <div class="form-group">
          <span data-container="#lead-author-label"
                data-toggle="popover"
                data-placement="top"
                data-content="Enter name and contact details of lead author or organisation"
                data-trigger="hover"
                id="lead-author-label">
            {{ form.lead_author.label_tag }}
          </span>
          {% render_field form.lead_author class='form-control' rows=3 %}
          {% if form.lead_author.errors %}
            <p class="text-danger">
              <small>{{ form.lead_author.errors.0 }}</small></p>
          {% endif %}
        </div>

        <div class="form-group">
          <span data-container="#other-label"
                data-toggle="popover"
                data-placement="top"
                data-content="Enter name and contact details of other authors or organisations involved in this study, or any other relevant contact persons"
                data-trigger="hover"
                id="other-label">
            {{ form.other.label_tag }}
          </span>
          {% render_field form.other class='form-control' rows=3 %}
          {% if form.other.errors %}
            <p class="text-danger">
              <small>{{ form.other.errors.0 }}</small></p>
          {% endif %}
        </div>

      </div> {# panel-body #}
    </div> {# panel #}

    <div class="form-group">
      <button type="submit" name="save" value="final"
              class="btn btn-primary">Publish</button>
      <button type="submit" name="save" value="draft"
              class="btn btn-default">Save as draft</button>
    </div>

  </form>

{% endblock %}
