{%- macro css_link(filename, media, pdf_compatible=None, _external=None) -%}
    {#
        IMPORT IT LIKE THIS IF YOU NEED "pdf_compatible" PARAMETER:

            {% from 'bits.html' import css_link with context -%}
    #}

  {% if pdf_compatible %}
    <style type="text/css" {% if media %}media="{{ media }}"{% endif %}>
        {{ inject_css(filename) }}
    </style>
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename=filename, _external=_external) }}"
          {% if media %}media="{{ media }}"{% endif %} />
  {% endif %}
{%- endmacro %}

{% macro script_src(filename) -%}
<script src="{{ url_for('static', filename=filename) }}"></script>
{%- endmacro %}

{% macro flash_messages() -%}
  {% for category, message in get_flashed_messages(with_categories=True) %}
    {% set category_cls = 'alert-'+category if category else '' %}
    <p class="alert {{ category_cls }}">{{ message }}</p>
  {% endfor %}
{%- endmacro %}

{% macro nav_tabs(active) -%}
<ul class="nav nav-tabs">

  <li class="{{ 'active' if active == 'interlinks' else '' }}">
    <a href="{{ url_for('flis.home') }}">Interlinks</a>
  </li>

  <li class="{{ 'active' if active == 'gmts' else '' }}">
    <a href="{{ url_for('flis.gmts_listing') }}">GMT</a>
  </li>

  <li class="dropdown {{ 'active' if active == 'settings' else '' }}">

    <a class="dropdown-toggle" data-toggle="dropdown">
      Settings
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <li>
        <a href="{{ url_for('lists.sources_view') }}">
          Sources</a>
      </li>
      <li>
        <a href="{{ url_for('lists.trends_view') }}">
          Trends</a>
      </li>
      <li>
        <a href="{{ url_for('lists.thematic_categories_view') }}">
          Thematic categories</a>
      </li>
      <li>
        <a href="{{ url_for('lists.geographical_scales_view') }}">
          Geographical scale</a>
      </li>
      <li>
        <a href="{{ url_for('lists.geographical_coverages_view') }}">
          Geographical coverage</a>
      </li>
      <li>
        <a href="{{ url_for('lists.steep_categories_listing') }}">
          Steep categories</a>
      </li>
      <li>
        <a href="{{ url_for('lists.timelines_listing') }}">
            Timelines</a>
      </li>

    </ul>

  </li>

</ul>
{%- endmacro %}
