{% extends "settings.html" %}

{% block settings_content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% set edit_url = url_for('lists.geo_coverage_edit',
                geo_coverage_id=geo_coverage_id) %}
                <a class="btn" href="{{ edit_url }}">Edit
                    {{ geo_coverage.code }}</a>
        </div>
        <div class="btn-group">
            {% set geo_coverages_url = url_for(
                'lists.geo_coverages_view') %}
                <a class="btn" href="{{ geo_coverages_url }}">
                    Back to geographical coverages</a>
        </div>
    </div>
    {{ mk.widget(geo_coverage) }}
{% endblock %}
