{% extends "settings.html" %}

{% block settings_content %}
<h3>Geographical scales</h3>
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{{ url_for('lists.geo_scale_edit') }}"
       class="btn btn-primary"> Add geographical scale</a>
  </div>
</div>
<div class="row">
  <div class="span4">
    <form class="form-horizontal">
      <table class="table table-bordered geo_scale">
        <thead>
          <tr>
            <th>Geographical scale</th>
          </tr>
        </thead>
        <tbody>
          {%- for geo_scale in geo_scales %}
          <tr>
            <td>
                <a href="{{ url_for('lists.geo_scale_edit',
                    geo_scale_id=geo_scale.id) }}">
                    {{ geo_scale["code"] }}
                    ({{ geo_scale["description"] }})
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>

  <div class="span6"></div>
</div>
{% endblock %}
