{% extends "settings.html" %}

{% block settings_content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% set edit_url = url_for('lists.geographical_coverage_edit',
                geographical_coverage_id=geographical_coverage_id) %}
                <a class="btn" href="{{ edit_url }}">Edit
                    {{ geographical_coverage.code }}</a>
        </div>
        <div class="btn-group">
            {% set geographical_coverages_url = url_for(
                'lists.geographical_coverages_view') %}
                <a class="btn" href="{{ geographical_coverages_url }}">
                    Back to geographical_coverages</a>
        </div>
    </div>
    {{ mk.widget(geographical_coverage) }}
{% endblock %}
