{% extends "settings.html" %}

{% block settings_content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% set edit_url = url_for('lists.geographical_scale_edit',
                geographical_scale_id=geographical_scale_id) %}
                <a class="btn" href="{{ edit_url }}">Edit
                    {{ geographical_scale.code }}</a>
        </div>
        <div class="btn-group">
            {% set geographical_scales_url = url_for(
                'lists.geographical_scales_view') %}
                <a class="btn" href="{{ geographical_scales_url }}">
                    Back to geographical_scales</a>
        </div>
    </div>
    {{ mk.widget(geographical_scale) }}
{% endblock %}
