{% extends "layout.html" %}

{% block content %}
    {% from "bits.html" import nav_tabs %}
    {{ nav_tabs('gmts') }}
<h3>GMTs</h3>
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{{ url_for('flis.gmt_edit') }}"
       class="btn btn-primary">Add GMT</a>
  </div>
</div>
<div class="row">
  <div class="span4">
    <form class="form-horizontal">
      <table class="table table-bordered gmts">
        <thead>
          <tr>
            <th>GMT</th>
          </tr>
        </thead>
        <tbody>
          {%- for gmt in gmts %}
          <tr>
            <td>
              <a href="{{ url_for('flis.gmt_edit',
                                   gmt_id=gmt.id) }}">
                {{ gmt["description"] }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>

  <div class="span6"></div>
</div>
{% endblock %}
