{% extends "layout.html" %}

{% block content %}
  {% from "bits.html" import nav_tabs %}
  {{ nav_tabs('indicators') }}
  {% if indicator_id %}
    {% set cancel_url = url_for('lists.indicator_view',
        indicator_id=indicator_id) %}
  {% else %}
    {% set cancel_url = url_for('lists.indicators_listing') %}
  {% endif %}
  <h3>Edit indicator</h3>
  {% if mk %}
    <form id="indicator_edit" name="indicator_edit" class="form-horizontal"
        method="post" enctype="multipart/form-data">
        {{ mk.widget(indicator_schema) }}
        {% include "_file.html" with context %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            {% if indicator_id %}
              <a class="btn btn-danger remove-indicator" data-toggle="modal"
                href="#delete-modal">Delete</a>
            {% endif %}
            <a class="btn"
               href="{{ cancel_url }}">Cancel</a>
        </div>
    </form>
  {% else %}
      {% if user_id == None %}
        <p class="alert">This page is restricted. Please logon to check credentials.</p>
      {% else %}
        <p class="alert alert-error">Your account doesn't have edit credentials.</p>
      {% endif %}
      <a class="btn" href="{{ cancel_url }}">Back</a>
  {% endif %}
  {% if indicator_id %}
    {% set delete_url = url_for('lists.indicator_delete', indicator_id=indicator_id) %}
    {% set site_url = url_for('flis.home_page') %}
    <div class="modal fade" id="delete-modal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        {% if not referenced %}
          <h3>Confirmation</h3>
        {% else %}
          <h3>Information</h3>
        {% endif %}
      </div>
      {% if not referenced %}
        <div class="modal-body">
          <p>Are you sure you want to delete this indicator?</p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{{ delete_url }}" style="display: inline;">
            <button type="submit" class="btn btn-primary btn-danger">Delete</button>
          </form>
          <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
        </div>
      {% else %}
        <div class="modal-body">
          <p>This object cannot be deleted because is referenced in other objects:</p>
          {% for reference in referenced %}
            <p><a href="{{ url_for('flis.home_page') }}{{ reference }}">{{ reference }}</a></p>
          {% endfor %}
          <p>References must be removed before deletion</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-cancel" data-dismiss="modal">OK</a>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
