{% extends "layout.html" %}

{% block content %}
  {% from "bits.html" import nav_tabs %}
  {{ nav_tabs('indicators') }}
<h3>Indicators</h3>
  {% if not indicators %}
    <p>&nbsp;</p>
    <p>There are now indicators defined yet.</p>
    <p>&nbsp;</p>
  {% endif %}
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{{ url_for('lists.indicator_edit') }}"
       class="btn btn-primary">Add indicator</a>
  </div>
</div>
{% if indicators %}
<div class="row">
  <div class="span4">
    <form class="form-horizontal">
      <table class="table table-bordered indicators">
        <thead>
          <tr>
            <th>Indicator name</th>
            <th>Thematic category</th>
            <th>Relevant to GMTs...</th>
            <th>Relevant to trends...</th>
            <th>Indicator description (title)</th>
            <th>End year</th>
            <th>Base year</th>
            <th>Temporal coverage</th>
            <th>Geographical scale</th>
            <th>Geographical coverage</th>
            <th>Source</th>
            <th>Data source</th>
            <th>Background report</th>
            <th>Ownership</th>
            <th>Example graphics</th>
          </tr>
        </thead>
        <tbody>
          {%- for indicator in indicators %}
          <tr>
            <td>
              <a href="{{ url_for('lists.indicator_view',
                                   indicator_id=indicator.id) }}">
                {{ indicator["code"] }}</a>
            </td>
            <td>
                {{ indicator_schema['thematic_category']
                    .value_labels[indicator["thematic_category"]] }}
            </td>
            <td>
                {%- for indicator in gmts[indicator['id']] %}
                    {{ indicator }}{%- if not loop.last %}, {% endif -%}
                {%- endfor %}
            </td>
            <td>
                {%- for indicator in trends[indicator['id']] %}
                    {{ indicator }}{%- if not loop.last %}, {% endif -%}
                {%- endfor %}
            </td>
            <td>
                {{ indicator["description"] }}
            </td>
            <td>
                {{ indicator["time_coverage"]['end_year'] }}
            </td>
            <td>
                {{ indicator["time_coverage"]["base_year"] }}
            </td>
            <td>
                {{ indicator_schema["time_coverage"]["timeline"]
                    .value_labels[indicator["time_coverage"]["timeline"]] }}
            </td>
            <td>
                {{ indicator_schema['geo_scale']
                    .value_labels[indicator['geo_scale']] }}
            </td>
            <td>
                {{ indicator_schema['geo_coverage']
                    .value_labels[indicator['geo_coverage']] }}
            </td>
            <td>
                {{ indicator_schema['source']
                    .value_labels[indicator["source"]] }}
            </td>
            <td>
                {{ indicator["url"] }}
            </td>
            <td>
                {{ indicator["background_report"] }}
            </td>
            <td>
                {{ indicator["ownership"] }}
            </td>
            <td>
                {% if indicator["file"] %}
                    <a href="{{ indicator["file"] }}">
                        {{ indicator["file"].rsplit('/')[-1] }}</a>
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>

  <div class="span6"></div>
</div>
{% endif %}
{% endblock %}
