{% extends "frame.html" %}
{% from 'bits.html' import css_link, script_src, flash_messages -%}
{% block head %}
        <meta charset="utf-8">
        <title>FLIS</title>
        {{ css_link('bootstrap/css/bootstrap.css') }}
        {{ css_link('bootstrap/css/bootstrap-responsive.css') }}

        {{ css_link('css/bootstrap-ui/jquery-ui-1.8.16.custom.css') }}
        {{ css_link('css/bootstrap-ui/jquery.ui.1.8.16.ie.css') }}
        {{ css_link("css/uniform.default.css") }}
        {{ script_src("js/jquery-1.7.1.min.js") }}
        {{ script_src("js/jquery.uniform.js") }}
        {{ script_src("bootstrap/js/bootstrap-modal.js") }}
        {{ script_src("bootstrap/js/bootstrap-dropdown.js") }}
{% endblock %}

{% block messages %}
    <div class="messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
{% endblock messages %}
{% block flis_content %}
      <div class="container">
        {{ flash_messages() }}
        {% block content %} {{content}} {% endblock %}
      </div>
      <script>
        $(function () {
           $("input[type=file]").uniform();
        });
      </script>
{% endblock flis_content %}
</html>