{% extends "settings.html" %}

{% block settings_content %}
  {% if timeline_id %}
    {% set cancel_url = url_for('lists.timeline_view',
      timeline_id=timeline_id) %}
  {% else %}
    {% set cancel_url = url_for('lists.timelines_listing') %}
  {% endif %}
  <h3>Edit timeline</h3>
  {% if mk %}
    <form id="timeline_edit" name="timeline_edit"
      class="form-horizontal" method="post">
      {{ mk.widget(timeline_schema) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        {% if timeline_id %}
          <a class="btn btn-danger remove-timeline"
            data-toggle="modal" href="#delete-modal">Delete</a>
        {% endif %}
        <a class="btn" href="{{ cancel_url }}">Cancel</a>
      </div>
    </form>
  {% else %}
      {% if user_id == None %}
        <p class="alert">This page is restricted. Please logon to check credentials.</p>
      {% else %}
        <p class="alert alert-error">Your account doesn't have edit credentials.</p>
      {% endif %}
      <a class="btn" href="{{ cancel_url }}">Back</a>
  {% endif %}

  {% if timeline_id %}
    {% set delete_url = url_for('lists.timeline_delete',
      timeline_id=timeline_id) %}
    <div class="modal fade" id="delete-modal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        {% if not referenced %}
          <h3>Confirmation</h3>
        {% else %}
          <h3>Information</h3>
        {% endif %}
      </div>
      {% if not referenced %}
        <div class="modal-body">
          <p>Are you sure you want to delete this timeline?</p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{{ delete_url }}" style="display: inline;">
            <button type="submit" class="btn btn-primary btn-danger">Delete</button>
          </form>
          <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
        </div>
      {% else %}
        <div class="modal-body">
          <p>This object cannot be deleted because is referenced in other objects:</p>
          {% for reference in referenced %}
            <p><a href="/{{ reference }}">{{ reference }}</a></p>
          {% endfor %}
          <p>References must be removed before deletion</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-cancel" data-dismiss="modal">OK</a>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
