{% extends 'layout.html' %}
{% load utils %}


{% block content %}

<h3>Edit indicator</h3>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

  <fieldset>

    <div class="control-group {% if form.code.errors %}error{% endif %}">
      <label class="control-label" for="id_code">
        {{ form.code.label }}</label>
      <div class="controls">
        {{ form.code }}
        <span class="help-inline">{{ form.code.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.thematic_category.errors %}error{% endif %}">
      <label class="control-label" for="id_thematic_category">
        {{ form.thematic_category.label }}</label>
      <div class="controls">
        {{ form.thematic_category }}
        <span class="help-inline">{{ form.thematic_category.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.description.errors %}error{% endif %}">
      <label class="control-label" for="id_description">
        {{ form.description.label }}</label>
      <div class="controls">
        {{ form.description }}
        <span class="help-inline">{{ form.description.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.geographical_scale.errors %}error{% endif %}">
      <label class="control-label" for="id_geographical_scale">
        {{ form.geographical_scale.label }}</label>
      <div class="controls">
        {{ form.geographical_scale }}
        <span class="help-inline">{{ form.geographical_scale.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.geographic_coverage.errors %}error{% endif %}">
      <label class="control-label" for="id_geographic_coverage">
        {{ form.geographic_coverage.label }}</label>
      <div class="controls">
        {{ form.geographic_coverage }}
        <span class="help-inline">{{ form.geographic_coverage.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Time coverage</label>
      <div class="controls">
        <div class="well">

          <div class="control-group {% if form.base_year.errors %}error{% endif %}">
            <label class="control-label" for="id_base_year">
            {{ form.base_year.label }}</label>
            <div class="controls">
              {{ form.base_year }}
              <span class="help-inline">{{ form.base_year.errors.0 }}</span>
            </div>
          </div>

          <div class="control-group {% if form.end_year.errors %}error{% endif %}">
            <label class="control-label" for="id_end_year">
              {{ form.end_year.label }}</label>
            <div class="controls">
              {{ form.end_year }}
              <span class="help-inline">{{ form.end_year.errors.0 }}</span>
            </div>
          </div>

          <div class="control-group {% if form.timeline.errors %}error{% endif %}">
            <label class="control-label" for="id_timeline">
              {{ form.timeline.label }}</label>
            <div class="controls">
              {{ form.timeline }}
              <span class="help-inline">{{ form.timeline.errors.0 }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="control-group {% if form.source.errors %}error{% endif %}">
      <label class="control-label" for="id_source">
        {{ form.source.label }}</label>
      <div class="controls">
        {{ form.source }}
        <span class="help-inline">{{ form.source.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.ownership.errors %}error{% endif %}">
      <label class="control-label" for="id_ownership">
        {{ form.ownership.label }}</label>
      <div class="controls">
        {{ form.ownership }}
        <span class="help-inline">{{ form.ownership.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.file_id.errors %}error{% endif %}">
      <label class="control-label" for="id_file_id">
        {{ form.file_id.label }}</label>
      <div class="controls">
        {{ form.file_id }}
        <span class="help-inline">{{ form.file_id.errors.0 }}</span>
      </div>
    </div>

  </fieldset>

  {% include "form_actions.html" %}

</form>

{% if object %}
<div class="modal fade" id="delete-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Confirmation</h3>
  </div>

  {% if object|has_referenced_items %}

  {% include "referenced_objects.html" %}

  {% else %}

  <div class="modal-body">
    <p>Are you sure you want to delete this indicator?</p>
  </div>

  <div class="modal-footer">
    <form method="POST" action="{% url 'indicator_delete' pk=object.pk country=country %}" style="display: inline;">
      <button type="submit" class="btn btn-primary btn-danger">
        Delete</button>
    </form>
    <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
  </div>

  {% endif %}

</div>
{% endif %}

{% endblock %}