{% extends 'layout.html' %}
{% load utils %}


{% block content %}

<h3>Indicators</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url 'indicator_new' country=country %} "
       class="btn btn-primary">Add indicator</a>
  </div>
</div>

{% if not object_list %}
  <p><br />No indicator defined yet.<br /></p>
{% endif %}

{% if object_list %}
<table class="table table-bordered sources" style="width: 400px;">
  <thead>
    <tr>
      <th>Indicator name</th>
      <th>Thematic category</th>
      <th>Relevant to GMTs...</th>
      <th>Relevant to trends...</th>
      <th>Indicator description (title)</th>
      <th>End year</th>
      <th>Base year</th>
      <th>Temporal coverage</th>
      <th>Geographical scale</th>
      <th>Geographical coverage</th>
      <th>Source</th>
      <th>Data source</th>
      <th>Background report</th>
      <th>Ownership</th>
      <th>Example graphics</th>
    </tr>
  </thead>

  <tbody>

    {% for object in object_list %}
    <tr>
      <td>
        <a href="{% url 'indicator_view' pk=object.id country=country %}">
          {{ object }}</a>
      </td>

      <td>{{ object.thematic_category }}</td>

      {% with interlinks=object|get_interlinks %}
      <td>
        <ul class="simple_list">
        {% for gmt in interlinks|get_gmts_from_interlinks %}
          <li>
            <a href="{{ gmt.get_absolute_url }}">{{ gmt}}</a>
          </li>
        {% empty %}
          <li>No relevant gmt</li>
        {% endfor %}
        </ul>
      </td>

      <td>
        <ul class="simple_list">
        {% for trend in interlinks|get_trends_from_interlinks %}
          <li>
            <a href="{{ trend.get_absolute_url }}">{{ trend}}</a>
          </li>
        {% empty %}
          <li>No relevant trend</li>
        {% endfor %}
        </ul>

      </td>
      {% endwith %}

      <td>{{ object.description }}</td>

      <td>{{ object.end_year }}</td>

      <td>{{ object.base_year }}</td>

      <td>{{ object.timeline }}</td>

      <td>{{ object.geographical_scale }}</td>

      <td>{{ object.geographical_coverage }}</td>

      <td>{{ object.source }}</td>

      <td>
        {% if object.source.url %}
          <a href="{{ object.source.url }}">{{ object.source.url }}</a>
        {% endif %}
      </td>

      <td></td>

      <td>{{ object.ownership }}</td>

      <td>
        {% if object.file_id %}
          <a href="{{ HOSTNAME }}{{ object.file_id.url }}">
            {{ object.file_id.name }}</a>
        {% endif %}
      </td>

    </tr>
    {% endfor %}

  </tbody>
</table>
{% endif %}

{% if is_paginated %}
  {% include "paginator.html" %}
{% endif %}

{% endblock %}