{% extends 'layout.html' %}


{% block content %}

<h3>Global trends affecting EU ressource efficiency</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url global_trend_new country=country %}"
       class="btn btn-primary">Add global trend</a>
  </div>
</div>

{% if not object_list %}
  <p><br />No global trend defined yet.<br /></p>
{% endif %}

{% if object_list %}
<table class="table table-bordered sources" style="width: 400px;">
  <thead>
    <tr>
      <th>Trend name</th>
    </tr>
  </thead>

  <tbody>
    {% for trend in object_list %}
    <tr>
      <td>
        <a href="{% url global_trend_view pk=trend.id country=country %}">
          {{ trend.title }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock %}