{% extends 'layout.html' %}
{% load utils %}


{% block content %}

<h3>Uncertainties</h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url uncertainty_new country=country %}" class="btn btn-primary">
      Add uncertainty</a>
  </div>
</div>

{% if not object_list %}
  <p><br />No uncertainty defined yet.<br /></p>
{% endif %}

{% if object_list %}
<table class="table table-bordered sources" style="width: 400px;">
  <thead>
    <tr>
      <th>Uncertainty</th>
    </tr>
  </thead>

  <tbody>
    {% for object in object_list|alphanumeric_sort %}
    <tr>
      <td>
        <a href="{% url uncertainty_view pk=object.id country=country %}">
          {{ object }}</a>
      </td>
      <td>{{ object.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if is_paginated %}
  {% include "paginator.html" %}
{% endif %}

{% endblock %}