/* line 74, ../sass/screen.scss */
html, body {
width: 100%;
height: 100%;
font-family: sans-serif;
}

/* line 69, ../sass/screen.scss */
.clear:before, .clear:after,
.clearfix:before,
.clearfix:after,
.group:before,
.group:after {
content: " ";
display: table;
}
/* line 70, ../sass/screen.scss */
.clear:after,
.clearfix:after,
.group:after {
clear: both;
}

/* line 86, ../sass/screen.scss */
.radial-layout {
width: 560px;
/*margin: 0 auto;*/
}
/* line 89, ../sass/screen.scss */
.radial-layout:after {
content: "";
position: absolute;
display: block;
}
/* line 94, ../sass/screen.scss */
.radial-layout .radial-content {
padding-top: 100%;
position: relative;
}

/* line 102, ../sass/screen.scss */
#cycle {
list-style-type: none;
position: absolute;
top: 50%;
left: 50%;
width: 0;
height: 0;
padding: 0 !important;
margin: 0 !important;
}
/* line 107,
* ../sass/screen.scss */
#cycle:before {
content: "";
position: absolute;
background: #0061a2;
width: 300px;
height: 300px;
margin-left: -150px;
margin-top: -150px;
border-radius: 50%;
}
/* line 113, ../sass/screen.scss */
#cycle:after {
content: "";
position: absolute;
border: 2px dotted #ddd;
width: 400px;
height: 400px;
margin-left: -200px;
margin-top: -200px;
border-radius: 50%;
}
/* line 119, ../sass/screen.scss */
#cycle > li {
position: absolute;
width: 160px;
height: 160px;
margin-left: -80px;
margin-top: -80px;
border-radius: 50%;
overflow: hidden;
z-index: 1000;
border: 2px solid #ddd;
background: #eee;
transition: all 200ms ease-out;
}
/* line 127,
* ../sass/screen.scss
* */
#cycle > li .item-content {
text-decoration: none;
display: block;
text-align: center;
color: black;
margin-left: auto;
margin-right: auto;
padding: 20px;
font-size: 13px;
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
/* line 138, ../sass/screen.scss */
/*#cycle > li strong {
color: #0061a2 !important;
}*/
/* line 141, ../sass/screen.scss */
#cycle > li .item-hover {
width: 280px;
color: black;
display: none;
}
/* line 147, ../sass/screen.scss */
#cycle li:hover {
width: 320px;
height: 320px;
margin-left: -160px;
margin-top: -160px;
border-radius: 50%;
border: 2px solid #0061a2;
background: #fff;
z-index: 1001;
}
/* line 151,
* ../sass/screen.scss
* */
#cycle li:hover .item-content {
color: black;
}
/* line 154, ../sass/screen.scss */
#cycle li:hover .item-hover {
display: block;
}

/* line 163, ../sass/screen.scss */
.item-1 {
left: 0.0px;
top: -200px;
}

/* line 163, ../sass/screen.scss */
.item-2 {
left: 190.2113px;
top: -61.8034px;
}

/* line 163, ../sass/screen.scss */
.item-3 {
left: 117.55705px;
top: 161.8034px;
}

/* line 163, ../sass/screen.scss */
.item-4 {
left: -117.55705px;
top: 161.8034px;
}

/* line 163, ../sass/screen.scss */
.item-5 {
left: -190.2113px;
top: -61.8034px;
}

/* line 169, ../sass/screen.scss */
.item-0 {
margin: -50% auto 0;
width: 200px;
position: relative;
font-size: 13px;
left: 10px;
text-align: left;
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
z-index: 999;
}
/* line 178,
* ../sass/screen.scss
* */
.item-0 strong {
display: block;
margin-bottom: 8px;
}

/* line 183, ../sass/screen.scss */
.no-list {
list-style-type: none !important;
list-style-image: none !important;
padding: 0 !important;
margin: 0 !important;
}

