
body {
    padding-top: 25px;
}

h1 {
    padding-bottom: 20px;
}

a {
    cursor: pointer;
}

.center-block {
    float: none;
}


.label-container .popover {
    margin-top: 0;
}


.nav-study {
    margin-bottom: 25px;
}
