{% extends 'layout.html' %}
{% load utils %}


{% block content %}

<h3>Edit trend</h3>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

  <fieldset>

    <div class="control-group {% if form.code.errors %}error{% endif %}">
      <label class="control-label" for="id_code">
        {{ form.code.label }}</label>
      <div class="controls">
        {{ form.code }}
        <span class="help-inline">{{ form.code.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.description.errors %}error{% endif %}">
      <label class="control-label" for="id_description">
        {{ form.description.label }}</label>
      <div class="controls">
        {{ form.description }}
        <span class="help-inline">{{ form.description.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.source.errors %}error{% endif %}">
      <label class="control-label" for="id_source">
        {{ form.source.label }}</label>
      <div class="controls">
        {{ form.source }}
        <span class="help-inline">{{ form.source.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.url.errors %}error{% endif %}">
      <label class="control-label" for="id_url">
        {{ form.url.label }}</label>
      <div class="controls">
        {{ form.url }}
        <span class="help-inline">{{ form.url.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.ownership.errors %}error{% endif %}">
      <label class="control-label" for="id_ownership">
        {{ form.ownership.label }}</label>
      <div class="controls">
        {{ form.ownership }}
        <span class="help-inline">{{ form.ownership.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.summary.errors %}error{% endif %}">
      <label class="control-label" for="id_summary">
        {{ form.summary.label }}</label>
      <div class="controls">
        {{ form.summary }}
        <span class="help-inline">{{ form.summary.errors.0 }}</span>
      </div>
    </div>

    <div class="control-group {% if form.file_id.errors %}error{% endif %}">
      <label class="control-label" for="id_file_id">
        {{ form.file_id.label }}</label>
      <div class="controls">
        {{ form.file_id }}
        <span class="help-inline">{{ form.filde_id.errors.0 }}</span>
      </div>
    </div>

  </fieldset>

  {% include "form_actions.html" %}

</form>

{% if object %}

<div class="modal fade" id="delete-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Confirmation</h3>
  </div>

  {% if object|has_referenced_items %}

  {% include "referenced_objects.html" %}

  {% else %}

  <div class="modal-body">
    <p>Are you sure you want to delete this trend?</p>
  </div>

  <div class="modal-footer">
    <form method="POST" action="{% url 'trend_delete' pk=object.id country=country %}" style="display: inline;">
      <button type="submit" class="btn btn-primary btn-danger">
        Delete</button>
    </form>
    <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
  </div>

  {% endif %}
</div>

{% endif %}

{% endblock %}